.item-1 {
	background: url(../assets/img/unicorn-1.jpg) no-repeat center center;
	background-size: cover;
}

.item-2 {
	background: url(../assets/img/unicorn-2.jpg) no-repeat center center;
	background-size: cover;
}

.item-3 {
	background: url(../assets/img/unicorn-3.jpg) no-repeat center center;
	background-size: cover;
}

.item-4 {
	background: url(../assets/img/unicorn-4.jpg) no-repeat center center;
	background-size: cover;
}

.item-5 {
	background: url(../assets/img/unicorn-5.jpg) no-repeat center center;
	background-size: cover;
}

.item-6 {
	background: url(../assets/img/unicorn-6.jpg) no-repeat center center;
	background-size: cover;
}

.item-7 {
	background: url(../assets/img/unicorn-7.jpg) no-repeat center center;
	background-size: cover;
}

.item-8 {
	background: url(../assets/img/unicorn-8.jpg) no-repeat center center;
	background-size: cover;
}

.item-9 {
	background: url(../assets/img/unicorn-9.jpg) no-repeat center center;
	background-size: cover;
}

.item-10 {
	background: url(../assets/img/unicorn-10.jpg) no-repeat center center;
	background-size: cover;
}

.item-11 {
	background: url(../assets/img/unicorn-11.jpg) no-repeat center center;
	background-size: cover;
}

.item-12 {
	background: url(../assets/img/unicorn-12.jpg) no-repeat center center;
	background-size: cover;
}

.item-13 {
	background: url(../assets/img/unicorn-13.jpg) no-repeat center center;
	background-size: cover;
}


.animal .item-1 {
	background: url(../assets/img/animal-1.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-2 {
	background: url(../assets/img/animal-2.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-3 {
	background: url(../assets/img/animal-3.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-4 {
	background: url(../assets/img/animal-4.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-5 {
	background: url(../assets/img/animal-5.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-6 {
	background: url(../assets/img/animal-6.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-7 {
	background: url(../assets/img/animal-7.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-8 {
	background: url(../assets/img/animal-8.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-9 {
	background: url(../assets/img/animal-9.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-10 {
	background: url(../assets/img/animal-10.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-11 {
	background: url(../assets/img/animal-11.jpg) no-repeat center center;
	background-size: cover;
}

.animal .item-12 {
	background: url(../assets/img/animal-12.jpg) no-repeat center center;
	background-size: cover;
}


.cat .item-1 {
	background: url(../assets/img/cat-1.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-2 {
	background: url(../assets/img/cat-2.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-3 {
	background: url(../assets/img/cat-3.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-4 {
	background: url(../assets/img/cat-4.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-5 {
	background: url(../assets/img/cat-5.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-6 {
	background: url(../assets/img/cat-6.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-7 {
	background: url(../assets/img/cat-7.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-8 {
	background: url(../assets/img/cat-8.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-9 {
	background: url(../assets/img/cat-9.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-10 {
	background: url(../assets/img/cat-10.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-11 {
	background: url(../assets/img/cat-11.jpg) no-repeat center center;
	background-size: cover;
}

.cat .item-12 {
	background: url(../assets/img/cat-12.jpg) no-repeat center center;
	background-size: cover;
}
