@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap');

@font-face{
	font-family: 'WebSymbolsRegular';
	src: url('../assets/fonts/websymbolsligaregular.eot');
          src: url('../assets/fonts/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
               url('../assets/fonts/websymbolsligaregular.woff') format('woff'),
               url('../assets/fonts/websymbolsligaregular.ttf') format('truetype'),
               url('../assets/fonts/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
		font-weight: normal;
		font-style: normal;
}

body {
  font-family: 'Risque', cursive;
  font-size: 20px;
  background-color: #66426d;
}

.black {
	background-color: #272727;
}

#root {
	height: 100vh;
	min-height: 500px;
	position: relative;
}

.icon {
  font-family: WebSymbolsRegular;
}

.start-new-game {
	display: block;
	margin: auto;
	padding: 5px 10px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	box-shadow: 4px 4px 4px #272727;
	transition: background-color .2s, color .2s;
}

.start-new-game:hover {
	color: #fcba00;
	box-shadow: 4px 4px 4px black;
	background-color: #272727;
}

.start-new-game:active {
	box-shadow: 1px 1px 1px #272727;
}

.start-new-game:focus {
	outline: none;
}

.wrap-game {
	padding-top: 20px;
}

.score {
	/* position: absolute;
	top: 20px;
	left: 20px;
	width: 100px; */
	margin-bottom: 20px;
}

.score p {
	margin: 0;
	padding-bottom: 10px;
	font-size: 20px;
	color: #FFF;
	text-align: center;
}

.settings-game {
  width: 70px;
	position: fixed;
	right: -20px;
	/* bottom: 50px; */
	top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.settings-game button {
	display: block;
	margin-bottom: 5px;
	border-radius: 5px;
	border: 2px solid #fcba00;
  color: #444;
	color: #66426d;
	transition: margin-right .3s;
	cursor: pointer;
	box-shadow: -4px 4px 4px #272727;
}
.settings-game button:hover {
	margin-right: 10px;
}

.settings-game button:focus {
	outline: none;
}


.header-game {
	width: 200px;
	margin: auto;
	margin-bottom: 20px;
	padding: 10px;
	border: 3px solid #FFF;
	border-bottom: none;
	border-right: none;
	border-radius: 20px;
}

.header-game h1{
	margin: 0;
	padding-top: 76px;
	padding-left: 96px;
	background: url(../assets/img/logo.jpg) no-repeat left top;
	background-size: 100px;
	font-size: 24px;
	letter-spacing: 3px;
	color: #fcba00;
}

.game-board {
	/* padding-top: 30px; */
}
/* .game-board > div {
	display: flex;
	flex-direction: column;
	align-items: center;
} */

ol, ul {
  padding-left: 30px;
}

/* MUSIC */

.wrap-music {
  width: 70px;
	position: fixed;
  left: -20px;
	/* bottom: 50px; */
	top: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.wrap-music button {
  display: block;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px solid #fcba00;
  color: #444;
	color: #66426d;
  transition: margin-left .3s;
  cursor: pointer;
	box-shadow: 4px 4px 4px #272727;
}

.wrap-music button:hover {
  margin-left: 10px;
}

.wrap-music button:focus {
  outline: none;
}

.game-area-lists {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.game-area-lists > div {
	position: relative;
	width: 120px;
	height: 120px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #272727;
	cursor: pointer;
	transition: transform .3s;
}

.game-area-lists > div:hover {
	transform: rotate(10deg);
}

/* .game-area-lists > div:last-child {
	margin-right: 0;
} */

.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	/* background-color: #31cacb; */
	background: url(../assets/img/back-unicorn.jpg) no-repeat #FFF;
	background-size: cover;
}

.back-hidden {
	filter: opacity(0);
	transition: filter .5s;
}

.item-1 {

	background: url(../assets/img/unicorn-1.jpg) no-repeat center center;
	background-size: cover;
}

.item-2 {

	background: url(../assets/img/unicorn-2.jpg) no-repeat center center;
	background-size: cover;
}

.item-3 {

	background: url(../assets/img/unicorn-3.jpg) no-repeat center center;
	background-size: cover;
}

.item-4 {

	background: url(../assets/img/unicorn-4.jpg) no-repeat center center;
	background-size: cover;
}

.item-5 {

	background: url(../assets/img/unicorn-5.jpg) no-repeat center center;
	background-size: cover;
}

.item-6 {

	background: url(../assets/img/unicorn-6.jpg) no-repeat center center;
	background-size: cover;
}

.item-7 {

	background: url(../assets/img/unicorn-7.jpg) no-repeat center center;
	background-size: cover;
}

.disable {
  filter: opacity(.7);
  pointer-events: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

/* .game { */
  /* display: flex; */
  /* flex-direction: row; */
/* } */

.game-info {
  margin-left: 20px;
}

footer {
	position: absolute;
	/* position: fixed; */
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 20px;
	color: #fcba00;
	color: #66426d;
	background: url(../assets/img/footer-fon.jpg) no-repeat, url(../assets/img/footer-fon-right.jpg) no-repeat top right #FFF;
	background-size: 110px, 100px;
	padding-top: 5px;
	padding-bottom: 0;
	box-shadow: 0 -4px 4px #272727;
}

footer p {
	margin: 10px 0;
}

footer a {
  color: #66426d;
  text-decoration: none;
}

.rsschool {
  padding: 0 10px;
  width: 70px;
}
.rsschool img {
  max-width: 50px;
}

/* ***************** */
/* MODAL */
/* ***************** */

.wrap-modal,
.wrap-end-modal,
.wrap-statistics-modal {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, .7);
	display: none;
}

.show {
	display: block;
}

.modal {
	width: 80%;
	margin: 20px auto;
	height: 90vh;
	border-radius: 20px;
	box-shadow: 4px 4px 4px #000;
	position: relative;
	background: url(../assets/img/modal-about.jpg) no-repeat bottom right #FFF;
	background-size: 25%;
}

.wrap-end-modal .modal {
	background: url(../assets/img/modal-end.jpg) no-repeat bottom center #FFF;
	background-size: 30%;
}

.wrap-statistics-modal .modal {
	background: url(../assets/img/modal-statistics.jpg) no-repeat bottom center #FFF;
	background-size: 30%;
}

.modal button {
	position: absolute;
	right: 20px;
	top: 20px;
	border: none;
	background-color: transparent;
	transition: color .2s;
}

.modal button span {
	color: #66426d;
	cursor: pointer;
}

.modal button span:hover {
	color: #fcba00;
}

.modal button:focus {
	outline: none;
}

.modal button span {
	font-size: 40px;
}

.modal-content {
	padding: 50px;
	font-family: 'Shippori Mincho', serif;
}

.modal-content h2 {
	color: #66426d;
	text-align: center;
}

.modal-content p {
	text-align: justify;
	line-height: 1.7;
}

.modal-content strong {
	color: #66426d;
}

.hot-keys {
	list-style-type: none;
	padding-left: 0;
}

p.end-steps,
p.end-score,
p.end-description {
	text-align: center;
}

table {
	margin: auto;
}
tbody tr:nth-child(odd) {
	background-color: #DDD;
}
table td {
	width: 100px;
	padding: 5px;
	border-right: 1px solid #272727;
	font-size: 16px;
	text-align: center;
}

table tr td:last-child {
	border-right: none;
}

@media screen and (max-width: 1100px) {
	.game-area-lists > div {
		width: 100px;
		height: 100px;
	}
}

@media screen and (max-width: 1025px) {
	#root {
		/* height: 100%; */
	}
}

@media screen and (max-width: 840px) {
	#root {
		/* height: 100%; */
	}
	footer {
		position: static;
		padding-bottom: 5px;
		/* width: 100%; */
	}

}
/* <a href='https://ru.freepik.com/vectors/background'>Background вектор создан(а) rawpixel.com - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/baby'>Baby вектор создан(а) babysofja - ru.freepik.com</a> */

/* cards unicorns*/
/* <a href='https://ru.freepik.com/vectors/cartoon'>Cartoon вектор создан(а) catalyststuff - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/logo'>Logo вектор создан(а) catalyststuff - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/nature'>Nature вектор создан(а) catalyststuff - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/food'>Food вектор создан(а) catalyststuff - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/nature'>Nature вектор создан(а) catalyststuff - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/food'>Food вектор создан(а) catalyststuff - ru.freepik.com</a> */
/* <a href='https://ru.freepik.com/vectors/baby'>Baby вектор создан(а) catalyststuff - ru.freepik.com</a> */
